@import "../../../../node_modules/bootstrap/scss/_tables.scss";
@import "../templates.scss";

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: 400;
  line-height: 1.2857em;
  color: $blue-dark;
}

h2, .h2 {
  font-size: $h2-font-size;
  font-family: $font-family-sans-serif;
  line-height: 1;
}

h3, .h3 {
  font-size: $h3-font-size;
  font-weight: 600;
}
h4, .h4 {
  font-size: $h4-font-size;
  font-weight: 600;
}

h5, .h5 {
  font-size: $h5-font-size;
  font-family: $font-family-sans-serif;
}

h6, .h6 {
  font-size: $h6-font-size;
  font-weight: 600;
}

* ~ h1, * ~ .h1,
* ~ h2, * ~ .h2,
* ~ h3, * ~ .h3,
* ~ h4, * ~ .h4,
* ~ h5, * ~ .h5,
* ~ h6, * ~ .h6 {
  //margin-top: 1.6875rem; // 27px
  margin-top: 2.255rem; // 36px
}

//
// Code
//

pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
  font-size: $font-size-base;
}

.text-light a {
  color: $light;
}

//
// Category list
//

.sd-category-list .sd-category-list-item {
  padding-left: 77px;
}

//
// Definition list
//
.sd-dlist-divider-b {
  .sd-list-item {
    padding: $spacer-h;
    border-top: 1px solid $border-color;

    .sd-list-question {
      display: flex;
      align-items: center;

      .sd-list-question-group {
        display: flex;
        align-items: center;
        width: 100%;
        color: $body-color;

        &:hover {
          cursor: pointer;
        }

        & > * + * {
          margin-left: .625rem;
        }
      }
    }

    .sd-list-answer {
      display: flex;
      flex-direction: column;
      margin-top: $spacer-h;
      margin-left: $spacer-h * 3;

      .answer-block .answer-content {
        @extend %markdown;

        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .answer-block + .answer-block {
        margin-top: $spacer-h;
      }
    }
  }

  // .active-item {
  //   background-color: $gray-white !important;
  // }

  // app-question-page-content, app-question {
  //   white-space: pre-wrap;
  // }

  app-question-page-content:first-child .sd-list-item,
  app-dynamic-template-content:first-child .sd-list-item,
  app-question:first-child .sd-list-item {
    border-top: none;
  }

  app-dynamic-template-content:not(:first-child) app-question-page-content .sd-list-item{
    border-top: 1px solid $gray-light;
  }
}

.question-block {
  display: flex;
  flex-direction: column;
  width: 100%;

  .question-block-content {
    display: flex;
    align-items: center;
  }

  button.toggle-correction {
    white-space: nowrap;
  }
}

.admin-block {
  display: flex;
  align-items: center;
}

.row-flex-content {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: $spacer-h * .25;
  }
}

.row-inline-content {
  display: inline;

  & > * + * {
    margin-left: $spacer-h * .25;
  }
}

.dynamic-block > *:last-child {
  margin-right: $spacer-h * .25;
}

.additional-text {
  color: $icon-color;
}

.preview-ticket-form {
  @extend %markdown;

  margin-top: $spacer-h * 0.25;
  padding: $spacer-h;
  border: 2px solid $border-color;
  // background-color: $gray-white;
}


.markdown-help-page {
  @extend %markdown;

  .select {
    background-color: darken($gray-white, 15%);
  }
}


.question-form {
  display: flex;
  flex-wrap: wrap;

  .ask-mainbar {
    flex: 1;
    min-width: 500px;
    width: calc(100% - #{$sidebar-width} - 25px);
  }

  .markdown-helpbar {
    width: $sidebar-width;
    margin-left: 24px;

    .scroller {
      z-index: 3;
      width: 365px;

      .scroller-header {
        padding: $spacer-h;
        border: 1px solid $border-color;
        border-bottom: 0;
      }

      .scroller-body {
        padding: $spacer-h;
        border: 1px solid $border-color;
      }
    }
  }
}

app-answer-accessor {
  height: 100% !important;
  padding: 0 !important;
}

.markdown-answer-block {
  display: block;
  width: 100%;
  clear: both;
}

.markdown-buttom-row {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $border-color;

  .markdown-button {
    padding: 8px;
    cursor: pointer;
    text-align: center;
  }

  .no-button {
    width: 35px;
  }
}

ul.sidebar-list {
  list-style: none;
  padding: 0;

  & > li {
    margin: 12px 0;
    cursor: pointer;
  }

  .active:before {
    content: '';
    position: absolute;
    margin-left: -19px;
    margin-top: -6px;
    height: 30px;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: $blue-dark;
  }
}