
//
// Alternate buttons
//

//@each $color, $value in $theme-colors {
//  .btn-#{$color} {
//    @include button-variant($value, darken($value, 20%));
//  }
//}

.btn-link:hover {
  cursor: pointer;
}

.align-button-content {
  display: flex;
  align-items: center;

  i {
    margin-right: $spacer * .25;
  }
}