.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  //background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$form-feedback-icon-invalid-color}' viewBox='0 0 24 24'%3e %3cpath fill='%23959595' d='M17,9.8l-5,5l-5-5H17z'/%3e %3c/svg%3e") no-repeat right .5rem center/24px 24px;
  background: $custom-select-indicator no-repeat right .5rem center/24px 24px;
  //background-color: transparent;
  position: relative;
  //z-index: 10;
  padding-right: $custom-select-padding-x * 3;
}
.sd-custom-select-control {
  position: relative;
}

.sd-custom-select-control:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: $custom-select-padding-x * 2;
  height: $input-height;
  border-left: 1px solid $gray-light;
}

.custom-select.is-valid,
.custom-select.is-invalid {
  background: $custom-select-indicator no-repeat right .5rem center/24px 24px;
  background-image: $custom-select-indicator !important;
}