$size-spinner: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border * 2} - #{$input-padding-y * 2});

.sd-spinner-wrap {
  position: relative;
}

.sd-spinner-wrap .sd-spinner-border:after {
  content: "";
  position: absolute;
  top: $input-padding-y;
  right: $input-padding-y;
  width: $size-spinner;
  height: $size-spinner;
  color: $icon-color;
  display: block;
  align-items: center;
  z-index: 10;
  border: $spinner-border-width solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

.sd-spinner-wrap .sd-spinner-border {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $input-height;
  background-color: $input-bg;
  animation: none;
  border-radius: 0;
  border: $input-border-width solid $input-border-color;
  //display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: $input-padding-y $input-padding-x;
  color: $text-muted;
  display: none;
}

.sd-spinner-wrap .sd-spinner-border.show {
  display: block;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}
//
//.spinner-border {
//  display: inline-block;
//  width: $spinner-width;
//  height: $spinner-height;
//  vertical-align: text-bottom;
//  border: $spinner-border-width solid currentColor;
//  border-right-color: transparent;
//  // stylelint-disable-next-line property-blacklist
//  border-radius: 50%;
//  animation: spinner-border .75s linear infinite;
//}